.loginButton {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#welcomeUser {
    color: white;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin-top: 20px;
}